html, body {
	height: 100%;
}

#write {
	width: 45%;
	height: 50%;
}

#preview {
	float: right;
	width: 45%;
	min-height: 50%;
	border: 1px red dotted;
}

code {
	font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
	background-color: rgb(238, 238, 238);
}